
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/profile.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('styles/index.js') }}"></script>
{% endblock %}

{% block body %}

{#    Mi página de perfil ^^#}
{#    <div class="c-gallery">#}
{#        {% for item in comments %}#}
{#            <div>{{ item }}</div>#}
{#        {% endfor %}#}

{#    </div>#}
<div class="prueba">
    prueba
</div>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <div class="mySlides">prueba</div>
        <div class="mySlides">prueba2</div>

        <!-- Full-width slides/quotes -->
        <div class="c-gallery">
            {% for item in comments %}
                <div class="mySlides">{{ item }}</div>
            {% endfor %}
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

{% endblock %}


