
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/home.css') }}">
{% endblock %}


{% block body %}
<div class="c-home">

    <div class="c-banner">
    </div>

    <div class="b-link-wrap">
        <a class="link link--subtitle b-link-wrap__item" href="{{ path('registerPage') }}">Registrarse</a>
        {% if app.user %}
            <a class="link link--subtitle b-link-wrap__item" href="{{ path('profilePage') }}">Mi perfil</a>
        {% else %}
            <a class="link link--subtitle b-link-wrap__item" href="{{ path('app_login') }}">Iniciar sesión</a>
        {% endif %}
    </div>

</div>

{% endblock %}