
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block body %}
<div class="c-home">
    <h1 class="title"> Escateo </h1>
    <div>
        Ésta es mi página home.
    </div>
    <div class="c-link-wrap">
        texto de prueba
        <a class="link" href="{{ path('registerPage') }}">Registrarse</a>
        <a class="link" href="{{ path('loginPage') }}">Iniciar sesión</a>
    </div>
    <div class="c-gallery">
        {% for item in comments %}
            <div>{{ item }}</div>
        {% endfor %}

    </div>
</div>

{% endblock %}