
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block body %}
<div class="c-home">
    <h1> Escateo </h1>
    <div>
        Ésta es mi página home.
    </div>
</div>

{% endblock %}