
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/home.css') }}">
{% endblock %}


{% block body %}
<div class="c-home">

    <div class="c-banner">
    </div>

    <div class="b-link-wrap">
        <a class="link link--subtitle b-link-wrap__item" href="{{ path('registerPage') }}">Registrarse</a>
        <a class="link link--subtitle b-link-wrap__item" href="{{ path('loginPage') }}">Iniciar sesión</a>
    </div>

</div>

{% endblock %}