
{% extends 'base.html.twig' %}

{% block body %}

    Registro
    {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
    <button type="submit"> Enviar </button>
    {{ form_end(registerForm) }}

    {% for message in app.flashes('success') %}
        <p>{{ message }}</p>
    {% endfor %}
{% endblock %}