@import './main.css';

.b-nav__link{
    visibility: hidden;
}

.c-banner {
    background-image: url(../images/pool.jpg);
    /*height: 265px;*/
    height: 71vw;
    width: 100%;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}


