@import './main.css';

.b-nav__link{
    visibility: hidden;
}

.c-banner {
    background-image: url(../pool.jpg);
    /*height: 265px;*/
    height: 71vw;
    width: 100%;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.b-link-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10vw;
}

.b-link-wrap__item {
    padding-left: 23px;
    padding-right: 23px;

}
