@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;600&family=Sansita:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*MOBILE FIRST*/
/* iphone 6/7/8 */
/*paleta colores flúor

    azul: #1cedae
    rosa: #ff0571
    amarillo: #c2ff05
    verde: #1eff05
    rojo: #ff0534
    */


:root{
    --font-size-main: 18px;
    --font-size-secondary: 0.8rem;
    --font-size-title-biggest: 2.8rem;
    --font-size-title-big: 2rem;
    --font-size-title-regular: 1.5rem;
    --font-size-subtitle: 1.2rem;
    --color-link: #ff0571;
    --color-background: rgba(28, 237, 174,0.4);
--color-line:linear-gradient(0deg, rgba(194, 240, 5, 0) 0%, rgba(255, 5, 113, 0.35) 50%);
}


html {
    font-size: var(--font-size-main);
    font-family: Sansita;
    /*background: var(--color-background);*/
    height: 100%;
    background: rgb(255,5,113);
    background: linear-gradient(0deg, rgba(194, 240, 5, 0.35) 0%, rgba(28, 237, 174, 0.35) 50%);
}

.b-nav {
    margin-top: 9px;
    margin-bottom: 28px;

}
.b-nav__link {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.b-nav__title {
    margin-top: 15px;
}

.breadcrumb--profile {
    visibility: hidden;
}
.breadcrumb--logout{
    flex: 1 0 0;
    text-align: right;
}

.breadcrumb--register {
    display: none;
}

.breadcrumb--login {
    display: none;
}

.link {
    color: var(--color-link);
}

.link--subtitle {
    font-size: var(--font-size-subtitle);
}

.link--secondary{
    font-size: var(--font-size-secondary);
}

.title {
    font-family: Sansita Swashed;
    text-align: center;
}

.title--main {
    font-size: var(--font-size-title-biggest);
}
.title--page {
    font-size: var(--font-size-title-big);
}
.title--text {
    font-size: var(--font-size-title-regular);
}

.title--form{
    margin-bottom: 20px;
}

.b-link-wrap {
    display: flex;
    justify-content: center;
    /*margin-bottom: 10vw;*/
}

.b-link-wrap__item {
    padding-left: 23px;
    padding-right: 23px;
}

.c-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-form label {
    display: block;
    margin-bottom: 1px;
}

.c-form input {
    display: block;
    margin-bottom: 4px;
}
.c-form textarea {
    width: 42vw;
    height: 20vw;
}

.c-form button{
    margin-top: 12px;
}

.button{
    background-color: var(--color-link);
    color: ghostwhite;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 12px;
    padding: 0.1em 0.6em;
}

.button:active{
    background-color: black;
}

.button--big{
    padding: 1em 1.5em;
}

.button--main{
    text-align: center;
    margin-top: 27px;
    margin-bottom: 32px;
}