@import './main.css';

.c-gallery{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prueba{
    color: red;
}


.c-comments {
    position: relative;
    background: #f1f1f1f1;
}

.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:focus, .next:focus {
    background-color: red;
    color: white;
}

.c-card-user {
    display: flex;
    margin: 0px 20px;
}

.c-card-user__image-wrap {
    max-width: 100px;
    max-height: 100px;
    border-radius: 10%;
}

.c-card-user__image {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 100%;
    max-height: 100%;
}

.c-card-user__info {
    padding: 20px;
}