@import './main.css';

.b-nav__title {
    display:none;
}

.title__comments {
    /*padding-left: 20px;*/
    margin-bottom: 10px;
}

.c-gallery{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.c-comments {
    position: relative;
    background: transparent;
}

.b-comment-slides {
    display: none;
    padding: 0 40px;
    text-align: center;
}

.b-comment-slides__prev, .b-comment-slides__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: var(--color-link);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.b-comment-slides__next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.b-comment-slides__prev:active, .b-comment-slides__next:active {
    /*background-color: red;*/
    color: black;
}

.c-card-user {
    display: flex;
    margin: 0px 20px;
}

.c-card-user__image-wrap {
    max-width: 100px;
    max-height: 100px;
    border-radius: 10%;
}
.c-card-user__image-wrap {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;

}

.c-card-user__image {
    /*width: 30vw;
    height: 30vw;
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 100%;
    max-height: 100%;*/
    width: 100%;
    height: auto;
}

.c-card-user__info {
    padding: 20px;
}

.b-image-texted{
    position: relative;
}

.b-image-texted__image {
    width: 70%
}

.b-image-texted__text {
    position: absolute;
    bottom: 3px;
    /*right: 20px;*/
    background-color: rgba(25, 25, 25, 0.7);
    color: white;
    text-align: left;
    padding: 5px 20px 10px;
    border-radius: 8px;
}

.b-text--left{
    text-align: left;
}

.b-text--right{
    text-align: right;
}
